@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;
    color: grey;
    background-color: white;
    border-bottom: solid 1px whitesmoke;
    padding-right: 30px;
    padding-left: 30px;
    height: 80px;
    
}

.userName {
    color: black;  
    font-weight: 500;
    
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}

nav ul li {
    padding-left: 10px;
    font-weight: 300;
    color: grey;
}

nav ul li a {
    text-decoration: none;
}

a:link {
    color: grey;
}

a:visited {
    color: grey;
  }

a:hover {
    font-weight: 600;
  }

a:active {
    font-weight: 600;
  }

/* .logout-btn {
    
    color: grey;
    font-size: 1em;
    background: none;
    border: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    padding: 5px;
} */