@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.landing-box {
  background-image: url("../images/poolside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 818px;
  padding-top: -1px;
  margin-top: -1px;
}

.landing-box .landing-img {
  padding-top: 250px;
}

.landing-box .landing-h1 {
  color: white;
  font-weight: 300;
  font-size: 3em;
}

.landing-box .landing-h2 {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 0.5em;
}

.black-btn {
  font-family: 'Barlow Condensed';
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 1.3em;
  text-decoration: none;
  margin-top: 30px;
  border: none;
}

.black-btn:hover {
  font-weight: 500;
}

.black-btn:focus {
  outline: 0;
}

.black-btn:disabled {
  background-color: dimgray;
}

.white-btn {
  font-family: 'Barlow Condensed';
  background-color: white;
  color: black;
  padding: 8px 18px;
  font-size: 1em;
  text-decoration: none;
  border: solid 1px black;
}

.white-btn:hover {
  font-weight: 500;
}

.white-btn:focus {
  outline: 0;
}

.landing-info {
  background-image: url("../images/dot-grid.png");
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 0;
}

.landing-snippet {
  background-color: white;
  width: 300px;
  height: 250px;
  padding: 25px;
  margin: 30px;
  color: dimgray;
}

.landing-snippet h2 {
  font-size: 2em;
}

.landing-snippet p {
  font-size: 1.5em;
}

footer {
  background-color: whitesmoke;
  margin: 0;
  height: 200px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-size: 1.2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-info {
  width: 40%;
  padding: 40px;
}

footer .footer-links {
  width: 20%;
  padding-left: 100px;
}

footer .footer-links a {
  text-decoration: none;
  font-weight: 600;
}

.form-wrapper {
  background-image: url("../images/dot-grid.png");
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container {
  background-color: white;
  width: 40%;
}

.form-container-wide {
  background-color: white;
  font-size: 1em;
}

.form-wide-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wide-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
  width: 300px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

form label {
  font-weight: 300;
  margin-bottom: 10px;
  text-align: left;
  margin-right: 20px;
}

form input {
  height: 20px;
  border: none;
  border-bottom: 2px dimgray solid;
  margin-bottom: 20px;
  color: dimgray;
  font-style: italic;
  font-size: 1em;
  font-family: 200;
}

form input:focus {
  outline: none !important;
  border-color: salmon;
  -webkit-box-shadow: 0 0 1px salmon;
          box-shadow: 0 0 1px salmon;
}

form textarea {
  height: 120px;
  font-family: 'Barlow Semi Condensed';
  padding: 5px;
  color: dimgray;
}

form textarea:focus {
  outline: none !important;
  border-color: salmon;
  -webkit-box-shadow: 0 0 1px salmon;
          box-shadow: 0 0 1px salmon;
}

input[type=file]::-webkit-file-upload-button {
  border: 1px solid dimgray;
  background-color: whitesmoke;
  font-size: 0.8em;
  font-family: 'Barlow Semi Condensed';
}

.form-link {
  text-decoration: none;
  font-weight: 600;
}

.final-btn-container {
  text-align: right;
}

.final-delete-container {
  text-align: right;
  margin-top: 50px;
}

.form-title {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2em;
  font-style: italic;
}

.info-wrapper {
  background-color: whitesmoke;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 100px;
}

.back-line {
  background-image: url("../images/dot-grid.png");
  width: 100vw;
  height: 200px;
  position: fixed;
}

.info-container {
  background-color: white;
  border: 1px solid lightgray;
  width: 25%;
  height: 600px;
  padding: 20px;
}

.info-container p {
  padding: 10px;
  text-align: left;
  vertical-align: bottom;
}

.info-container p .icon {
  vertical-align: bottom;
  padding-right: 5px;
}

.info-container img {
  border-radius: 50%;
}

.info-container h4 {
  font-size: 1.3em;
  line-height: normal;
}

.project-container {
  width: 75%;
  text-align: left;
  margin-left: 40px;
}

.project-container .project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-container .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project-container .proj-thumb {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.project-container .proj-thumb img {
  width: 500;
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.project-container hr {
  border-top: 1px dotted dimgrey;
}

.project-container .proj-info {
  margin-left: 20px;
  height: 300px;
}

.project-container .proj-info h2 {
  font-family: 'Barlow Condensed';
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.5em;
  margin-top: 10px;
}

.project-container .proj-info a {
  text-decoration: none;
}

.project-container .proj-info a:hover {
  font-weight: 400;
  font-style: italic;
}

.project-container .proj-info p {
  color: dimgrey;
}

.project-container .proj-info p span {
  color: black;
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 300;
}

.project-details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: whitesmoke;
  height: 100vh;
}

.project-details-wrapper .project-inside {
  margin: 50px;
  padding: 30px;
  width: 90%;
  background-color: white;
}

.project-details-wrapper .project-inside .details-header {
  text-align: left;
  color: dimgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-details-wrapper .project-inside .details-header span {
  color: black;
}

.project-details-wrapper .project-inside .details-header .details-title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 0em;
  line-break: 0;
}

.project-details-wrapper .project-inside .details-header a {
  text-decoration: none;
  font-weight: 400;
}

.wrapper-projects {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-height: 1600px;
}

.project-card {
  width: 400px;
  text-align: left;
  border: solid 1px whitesmoke;
  padding: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.info-card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h3-card {
  font-weight: 600;
  line-height: 5px;
}

.text-card {
  line-height: 0px;
  color: dimgray;
}

.text-card p {
  font-size: 0.9em;
}

.input-search {
  width: 90%;
  margin: 30px;
  height: 30px;
  border: none;
  border-bottom: 2px dimgray solid;
  color: dimgray;
  font-style: italic;
  font-size: 1em;
  font-family: 200;
}

.input-search:focus {
  outline: none !important;
  border-color: salmon;
  -webkit-box-shadow: 0 0 1px salmon;
          box-shadow: 0 0 1px salmon;
}
/*# sourceMappingURL=style.css.map */