@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.landing-box {
    background-image: url("../images/poolside.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 818px;
    padding-top: -1px;
    margin-top: -1px;

    .landing-img {
        padding-top: 250px;
    }

    .landing-h1 {
        color: white;
        font-weight: 300;
        font-size: 3em;  
    }

    .landing-h2 {
        color: white;
        font-weight: 500;
        font-size: 1.5em;
        line-height: 0.5em;
    }
    
}

.black-btn {
    font-family: 'Barlow Condensed';
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 1.3em;
    text-decoration: none;
    margin-top: 30px;
    border: none;

    &:hover {
        font-weight: 500;
    }

    &:focus {
        outline:0;
    }
}

.white-btn {
    font-family: 'Barlow Condensed';
    background-color: white;
    color: black;
    padding: 8px 18px;
    font-size: 1em;
    text-decoration: none;
    border: solid 1px black;

    &:hover {
        font-weight: 500;
    }

    &:focus {
        outline:0;
    }
}


.landing-info {
    background-image: url("../images/dot-grid.png");
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0;

}

.landing-snippet {
    background-color: white;
    width: 300px;
    height: 250px;
    padding: 25px;
    margin: 30px;
    color: dimgray;

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }       
}

footer {
    background-color: whitesmoke;
    margin: 0;
    height: 200px;
    padding: 40px;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.2em;
    justify-content: space-between;

    .footer-info {
        width: 40%;
        padding: 40px;
        
    }

    .footer-links {
        width: 20%;
        padding-left: 100px;

        a {
            text-decoration: none;
            font-weight: 600;
        }

    }
}

.form-wrapper {
    background-image: url("../images/dot-grid.png");
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-container {
    background-color: white;
    width: 40%;
    font-size: 1.2em;
    // margin-top: -200px;
}

.form-container-wide {
    background-color: white;
    font-size: 1em;
    // margin-top: -200px;
}

.form-wide-columns{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

}

.wide-columns {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;


    label {
    font-weight: 300;
    margin-bottom: 10px;
    text-align: left; 
    margin-right: 20px;
    }

    input {
        height: 20px;
        border: none;
        border-bottom: 2px dimgray solid;
        margin-bottom: 20px;
        color: dimgray;
        font-style: italic;
        font-size: 1em;
        font-family: 200;

        &:focus {
            outline: none !important;
            border-color: salmon;
            box-shadow: 0 0 1px salmon;
        }
    }  

    textarea {
        height: 120px;
        font-family: 'Barlow Semi Condensed';
        padding: 5px;
        color: dimgray;

        &:focus {
            outline: none !important;
            border-color: salmon;
            box-shadow: 0 0 1px salmon;
        }
    }
}

input[type=file]::-webkit-file-upload-button {
    border: 1px solid dimgray;
    background-color: whitesmoke;
    font-size: 0.8em;
    font-family: 'Barlow Semi Condensed';
}

.form-link {
    text-decoration: none;
    font-weight: 600;
}

.final-btn-container {
    text-align: right;
}

.final-delete-container {
    text-align: right;
    margin-top: 50px;
}

.form-title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2em;
    font-style: italic;
}

.info-wrapper {
    background-color: whitesmoke;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 100px; 
}

.back-line {
    background-image: url("../images/dot-grid.png");
    width: 100vw;
    height: 200px;
    position: fixed;
}
.info-container {
    background-color: white;
    border: 1px solid lightgray;
    width: 25%;
    height: 600px;
    padding: 20px;
    

    p {
        padding: 10px;
        text-align: left;
        vertical-align: bottom;
        
        .icon {
            vertical-align: bottom;
            padding-right: 5px;
        }
    }

    img {
        border-radius: 50%;
    }

    h4 {
        font-size: 1.3em;
        line-height: normal;
    }
}

.project-container {
    width: 75%;
    text-align: left;
    margin-left: 40px;

    .project-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .projects-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;  
    }

    .proj-thumb {
        position: relative;
        width: 400px;
        height: 300px;
        overflow: hidden;

        img {
            width: 500;
            position: absolute;
            top: -9999px;
            left: -9999px;
            right: -9999px;
            bottom: -9999px;
            margin: auto;
          }
    }

    hr {
        border-top: 1px dotted dimgrey; 
    }

    .proj-info {
        margin-left: 20px;
        height: 300px;

        h2 {
            font-family: 'Barlow Condensed';
            text-transform: uppercase;
            font-weight: 200;
            font-size: 2.5em;
            margin-top: 10px;
        }

        a {
            text-decoration: none;
            &:hover {
                font-weight: 400;
                font-style: italic;
            }
        }

        p {
            color: dimgrey;

            span {
                color: black;
                font-weight: 400;
            }
        }
    }
}

h3 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
}